<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>

    <target xsi:type="File" encoding="utf-8" name="html2pdf"
            layout="${longdate},${level},${message}"
            fileName="${basedir}/html2pdf.log" 
            archiveFileName="${basedir}/html2pdf.{#####}.log"
            archiveAboveSize="1024000" 
  archiveNumbering="Sequence" concurrentWrites="true" /> 
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="html2pdf" /> 
  </rules>
</nlog>